$primary-bg-color: #151719;
$secondary-bg-color: #5D5DFF;
$accent-bg-color: #C6F6D5;
$cards-bg-color: #25282C;

$primary-text-color: #9BA9B4;
$secondary-text-color: #5D5DFF;
$accent-text-color: #36A269;

$primary-title-color: #D9E3EA;

$primary-btn-text-color: #ffffff;
$primary-btn-bg-color: #5D5DFF;
$secondary-btn-text-color: #C5D2DC;
$secondary-btn-bg-color: #33363A;

