<section class="first">
  <div class="container">
    
    <h2 class="first__title">Build up the whole picture</h2>
    <p class="first__descr">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum — semper quis lectus nulla at volutpat diam ut venenatis.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4 first__cards-container">
      <div class="col first__card-box">
        <div class="card first__card">
          <svg class="card-img-top card__img">
            <use href="../img/sprite.svg#icon-first-svg-1"></use>
          </svg>
          <div class="card-body">
            <h5 class="card-title first__card-title">Instant Features</h5>
            <p class="card-text first__card-descr">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
          </div>
        </div>
      </div>
      <div class="col first__card-box">
        <div class="card first__card">
          <svg class="card-img-top card__img">
            <use href="../img/sprite.svg#icon-first-svg-2"></use>
          </svg>
          <div class="card-body">
            <h5 class="card-title first__card-title">Instant Features</h5>
            <p class="card-text first__card-descr">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
          </div>
        </div>
      </div>
      <div class="col first__card-box">
        <div class="card first__card">
          <svg class="card-img-top card__img">
            <use href="../img/sprite.svg#icon-first-svg-3"></use>
          </svg>
          <div class="card-body">
            <h5 class="card-title first__card-title">Instant Features</h5>
            <p class="card-text first__card-descr">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
          </div>
        </div>
      </div>
      <div class="col first__card-box">
        <div class="card first__card">
          <svg class="card-img-top card__img">
            <use href="../img/sprite.svg#icon-first-svg-4"></use>
          </svg>
          <div class="card-body">
            <h5 class="card-title first__card-title">Instant Features</h5>
            <p class="card-text first__card-descr">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
          </div>
        </div>
      </div>
      <div class="col first__card-box">
        <div class="card first__card">
          <svg class="card-img-top card__img">
            <use href="../img/sprite.svg#icon-first-svg-5"></use>
          </svg>
          <div class="card-body">
            <h5 class="card-title first__card-title">Instant Features</h5>
            <p class="card-text first__card-descr">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
          </div>
        </div>
      </div>
      <div class="col first__card-box">
        <div class="card first__card">
          <svg class="card-img-top card__img">
            <use href="../img/sprite.svg#icon-first-svg-6"></use>
          </svg>
          <div class="card-body">
            <h5 class="card-title first__card-title">Instant Features</h5>
            <p class="card-text first__card-descr">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>