<footer class="footer">
  <div class="container">

    <div class="footer__top">
      <div class="footer__top-left">
        <a href="/">
          <img src="../img/logo.svg" alt="purple wave lines" class="footer__logo">
        </a>
        <p class="footer__descr">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
      </div>
  
      <div class="footer__top-right">
        <ul class="footer_list list">
          <h4 class="footer_list-title">Products</h4>
          <li class="footer_list-item"><a href="/">Web Studio</a></li>
          <li class="footer_list-item"><a href="/">DynamicBox Flex</a></li>
          <li class="footer_list-item"><a href="/">Programming Forms</a></li>
        </ul>
    
        <ul class="footer_list list">
          <h4 class="footer_list-title">Resources</h4>
          <li class="footer_list-item"><a href="/">Nostrud exercitation</a></li>
          <li class="footer_list-item"><a href="/">Visual mockups</a></li>
          <li class="footer_list-item"><a href="/">Nostrud exercitation</a></li>
          <li class="footer_list-item"><a href="/">Visual mockups</a></li>
          <li class="footer_list-item"><a href="/">Nostrud exercitation</a></li>
        </ul>
    
        <ul class="footer_list list">
          <h4 class="footer_list-title">Company</h4>
          <li class="footer_list-item"><a href="/">Consectetur adipiscing</a></li>
          <li class="footer_list-item"><a href="/">Labore et dolore</a></li>
          <li class="footer_list-item"><a href="/">Consectetur adipiscing</a></li>
          <li class="footer_list-item"><a href="/">Labore et dolore</a></li>
          <li class="footer_list-item"><a href="/">Consectetur adipiscing</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer__bottom">
      <p class="footer__rights">&copy; <script>document.write(new Date().getFullYear())</script> Open PRO. All rights reserved.</p>
      <div class="footer__social">
        <a href="/" class="footer__social-link">
          <svg>
            <use href="../img/sprite.svg#icon-footer-svg-1"></use>
          </svg>
        </a>
        <a href="/" class="footer__social-link">
          <svg>
            <use href="../img/sprite.svg#icon-footer-svg-2"></use>
          </svg>
        </a>
        <a href="/" class="footer__social-link">
          <svg>
            <use href="../img/sprite.svg#icon-footer-svg-3"></use>
          </svg>
        </a>
        <a href="/" class="footer__social-link">
          <svg>
            <use href="../img/sprite.svg#icon-footer-svg-4"></use>
          </svg>
        </a>
        <a href="/" class="footer__social-link">
          <svg>
            <use href="../img/sprite.svg#icon-footer-svg-5"></use>
          </svg>
        </a>
      </div>
    </div>
    
  </div>
</footer>
