<section class="fourth">
  <div class="container">

    <div class="fourth__text-box">
      <h2 class="fourth__title">Stay in the loop</h2>
      <p class="fourth__descr">Join our newsletter to get top news before anyone else.</p>
    </div>

    <form class="fourth__form">
      <div class="fourth__form-box">
        <input type="email" placeholder="Your best email…" class="fourth__input">
        <span class="fourth__input-error"></span>
      </div>
      <button type="submit" class="fourth__btn">Subscribe</button>
    </form>

  </div>
</section>