<section class="second">
  <div class="container">

    <div class="second__accent">Reach goals that matter</div>
    <h2 class="second__title">One product, unlimited solutions</h2>
    <p class="second__descr">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit laborum — semper quis lectus nulla.</p>

    <ul class="second__list list">
      <li class="second__list-item">
        <div class="second__item-box">
          <p class="second__item-accent">More speed. Less spend</p>
          <h3 class="second__item-title">Keep projects on schedule</h3>
          <p class="second__item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="item__list list">
            <li class="item__list-item">Duis aute irure dolor in reprehenderit</li>
            <li class="item__list-item">Excepteur sint occaecat</li>
            <li class="item__list-item">Amet consectetur adipiscing elit</li>
          </ul>
        </div>
        <img data="../img/second/second-img-1.png" alt="" class="second__item-img">
      </li>
      <li class="second__list-item">
        <img src="../img/second/second-img-2.png" alt="" class="second__item-img">
        <div class="second__item-box">
          <p class="second__item-accent">More speed. Less spend</p>
          <h3 class="second__item-title">Keep projects on schedule</h3>
          <p class="second__item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="item__list list">
            <li class="item__list-item">Duis aute irure dolor in reprehenderit</li>
            <li class="item__list-item">Excepteur sint occaecat</li>
            <li class="item__list-item">Amet consectetur adipiscing elit</li>
          </ul>
        </div>
      </li>
      <li class="second__list-item">
        <div class="second__item-box">
          <p class="second__item-accent">More speed. Less spend</p>
          <h3 class="second__item-title">Keep projects on schedule</h3>
          <p class="second__item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="item__list list">
            <li class="item__list-item">Duis aute irure dolor in reprehenderit</li>
            <li class="item__list-item">Excepteur sint occaecat</li>
            <li class="item__list-item">Amet consectetur adipiscing elit</li>
          </ul>
        </div>
        <img src="../img/second/second-img-3.png" alt="" class="second__item-img">
      </li>
    </ul>

  </div>
</section>