<section class="third">
  <div class="container">

    <h2 class="third__title">Don't take our word for it</h2>
    <p class="third__descr">Vitae aliquet nec ullamcorper sit amet risus nullam eget felis semper quis lectus nulla at volutpat diam ut venenatis tellus—in ornare.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4 third__cards-container">
      <div class="col third__card-box">
        <div class="card third__card">
          <img src="../img/third/third-img-1.png" class="card-img-top third__img" alt="...">
          <div class="card-body third__card-body">
            <p class="card-text third__card-descr">— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
          </div>
          <p class="third__card-footer"><span class="name">Anastasia Dan</span> <span class="space">/</span> <span class="pos">UX Board</span></p>
        </div>
      </div>
      <div class="col third__card-box">
        <div class="card third__card">
          <img src="../img/third/third-img-2.png" class="card-img-top third__img" alt="...">
          <div class="card-body third__card-body">
            <p class="card-text third__card-descr">— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
          </div>
          <p class="third__card-footer"><span class="name">Roman Level</span> <span class="space">/</span> <span class="pos">AppName</span></p>
        </div>
      </div>
      <div class="col third__card-box">
        <div class="card third__card">
          <img src="../img/third/third-img-3.png" class="card-img-top third__img" alt="...">
          <div class="card-body third__card-body">
            <p class="card-text third__card-descr">— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
          </div>
          <p class="third__card-footer"><span class="name">Akex Sackett</span> <span class="space">/</span> <span class="pos">Reform Layouts</span></p>
        </div>
      </div>
    </div>
    
  </div>
</section>
